.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Parent{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.Gambar{
  display: flex;
  padding: 20px;
  margin-right: 20px;
}

i{
  color: blue;
  font-size: 20pt;
  font-weight: bold;
}

.Tulisan{
  text-align: left;
  padding: 20px;
}

.Login{
  margin-top: 40px;
  width: 100px;
  height: 50px;
  color: black;
  background-color: #EEEEEE;
  border-radius: 5px;
  display: inline-block;
  font-size: 15pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
